

/* .logo{
    color: black;
    font-size: x-large;
    font-weight: bold;
} */
*{
    font-weight: 600;
    margin: 10px;
}
h1{
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-size: 35px;
    font-weight: 700px;
}


nav{
    height: 100px;
    width: 100%;
    justify-content: space-between;
    /* padding: 70px; */
    display: flex;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px;
    color: black;
}
nav ul li a{
    text-decoration: none;
}

ul li a:hover{
    color: darkorange;
}
/* .name{
    margin: 40px;
    display: flex;
    justify-content: space-between;
} */
ul li a{
    color: black;
}
nav button{
    padding: 2px 20px;
    border-radius: 10px;
    background-color: coral;
}
/* .name button{
    padding:2px 10px;
    margin-top: 1%;
    color: black;
    background-color: darkorange;
    font-size: large;
    border-radius: 10px;
} */
/* .name p{
    margin-top: 1%;
} */
/* img{
    float: right;
    margin-right: 30px;
    width: 450px;
    height: auto;
    position: relative;

} */
.cars{
    padding: 2px 40px 0 10px;
    margin: 10px 0 100px 0px;
    

}
.head{
    padding: 40px;
    color: black;
}
.info{
    background-color: orange;
}
/* .Vehicles{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-left: 30px;
    margin-top: -50%;
} */
.form input{
    display: block;
    padding: 10px;
    border: 3px solid orange;
    padding-bottom: -70px;
}

button{
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
 
}
.button{
    box-shadow: 2px 5px 5px gray;
}

.car1{ 
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px;
}

.container{
    flex-direction: row;
    gap: 50px; 
    margin: 30px;
    width: 40%;
    height: 50%;
    display: flex;
    
}
#Center{
    text-align: center;
}
.Client{ 
    text-align: left;
    font-size: large;
}
.Type > button > img{
    width: 50%;
    height: 70%;

}
.Type > button{
    width: 120px;
    height: 30px;
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.Type{
    display: flex;
    height: 1rem;
    width: 100%;
    gap: 50px;
}
.navlinks{
    width: 50%;
    height: 1rem;
}
.container .happy p{
    text-align: center;
}

    /* #java{
        margin: -30px 0 -20px 150px;
} */
/* .Mica .left {
    width: 50%;
    height: 100%;
    padding: 1rem 0 1rem 35rem;
} */
/* footer{
    position: relative;
    top: 80rem;
    display: block;
} */
/* .Mica .mobile{
    width: 50%;
    height: 100%;
    

}
.playstore{
    display: flex;
    width: 40rem;
    height: 12rem;
}
.playstore :first-child{
    width: 20%;
    height: 30%;
}
.playstore img{
    width: 40%;
    height: 50%;
    margin-right: 1rem;
    

} */
/* #Rock{
    width: 40%;
    height: 100%;
    margin-right: 1rem;
} */
.mobile {
    width: 50%;
    height: 70rem;
}
.mobile img{
    position: relative; 
    z-index: 1;
    left: -30rem;
    height: 55rem;
    top: -9rem;

}
.Buy{
    background-color: darkorange;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.Rent{
    color: orange;
    border: 2px solid orange;
    background: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.Subscribe{
    display: block;
}
.col input{
    display: flex;
    padding: 10px;
    border: 3px solid orange;
    border-radius: 5px;
}

.mica{
    background-color: rgb(255, 253, 197);
    display: flex;
    height: 240px;
    gap: 100px;
    padding: 5px;
    justify-content: center;
    box-shadow: 5px 6px 5px gray;
    margin: 20px 0 20px 0;

}
.googleplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
#rental{
    margin: -40px 20px -30px 160px;
}

.Vehicles{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.Vehicles li {
    list-style: none;
}
.Vehicles li ul li{
    list-style: circle;
}
.col input{
    margin: 5px;
}
.name{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 0px 5px;
}
.micah{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}